<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Bem vindo ao CashWay' } %>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="m-0">Total de clientes</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">Quantidade de clientes ativos: <%= User.client.count %></h6>

              <br />
              <a href="<%= admin_users_url %>" class="btn btn-primary">Ir para clientes</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->