<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <%= render partial: 'shared/admin/page_title', locals: { title: 'Clientes' } %>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="m-0">Listagem</h5>
            </div>
            <div class="card-body">
              <% if @users.any? %>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"><%= I18n.t('activerecord.attributes.user.name') %></th>
                      <th scope="col"><%= I18n.t('activerecord.attributes.user.email') %></th>
                      <th scope="col"><%= I18n.t('activerecord.attributes.user.account') %></th>
                      <th scope="col"><%= I18n.t('activerecord.attributes.user.created_at') %></th>
                      <th scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.account %></td>
                        <td><%= l user.created_at, format: :short %></td>
                        <td>
                          <%= link_to 'Detalhes', admin_user_path(user), class: 'btn btn-warning' %>
                          <%= link_to 'Editar', edit_admin_user_path(user), class: 'btn btn-primary' %>
                          <%= link_to 'Excluir', admin_user_path(user), method: :delete, class: 'btn btn-danger', data: { confirm: 'Deseja realmente excluir?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% else %>
                <p>Nenhum cliente cadastrado</p>
              <% end %>

              <%= link_to 'Novo', new_admin_user_path, class: 'btn btn-primary'%>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
