<% if flash[:notice].present? %>
  <script>
    let notify = new ToastrNotify('Aviso', 'Tudo certo!', "<%= flash[:notice] %>");
    $(document).Toasts('create', notify.alert('bg-success'));
  </script>
<% end %>
<% if flash[:error].present? %>
  <script>
    let notify = new ToastrNotify('Erro', 'Algo deu errado!', "<%= flash[:error] %>");
    $(document).Toasts('create', notify.alert('bg-danger'));
  </script>
<% end %>
<% flash.discard %>