<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to 'Home', admin_root_url, class: 'nav-link' %>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to 'Clientes', admin_users_url, class: 'nav-link' %>
    </li>
  </ul>
</nav>
<!-- /.navbar -->