<!DOCTYPE html>
<html>
  <head>
    <title>Gerencial - CashWay</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'devise', media: 'all' %>
    <%= javascript_include_tag 'devise' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  </head>

  <body>
    <div id="logreg-forms">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>

      <%= yield %>
    </div>
  </body>
</html>
